:host {
  display: block;
}

.input {
  label {
    display: block;
  }

  &__label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    height: 40px;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-primary);
    padding: 10px;

    &.ng-invalid.ng-touched {
      border-color: var(--color-primary-red);
    }
  }
}
