<table *ngIf="contractors.length">
  <thead *ngIf="windowWidth > 767">
  <tr>
    <th>Name</th>
    <th *ngIf="windowWidth > 1024">Company</th>
    <th>E-mail</th>
    <th *ngIf="windowWidth > 1024">Phone</th>
    <th *ngIf="windowWidth > 767">Groups</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of contractors">
    <td class="name">{{user.name.first}} <br/>{{user.name.last}}</td>
    <td class="company" *ngIf="windowWidth > 1024">{{user.company}}</td>
    <td class="email" *ngIf="windowWidth > 767">{{user.email}}</td>
    <td class="phone" *ngIf="windowWidth > 1024">{{user.phone}}</td>
    <td class="groups" *ngIf="windowWidth > 767">
      <ul>
        <li *ngFor="let group of user.groups">{{group}}</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
