
:root {
  --color-bg-white: #fff;
  --color-bg-grey: #EFEFEF;
  --color-bg-menu: #084153;
  --color-bg-menu-30: #08415330;
  --color-primary: #2CABD3;
  --color-primary-hover: #1E94BA;
  --color-primary-hover-20: #1E94BA20;
  --color-primary-white: #fff;
  --color-primary-black: #5D5D5D;
  --color-primary-black-30: #5D5D5D30;
  --color-primary-red: #ff6961;
  --color-primary-red-hover: #ff392e;
  --color-headlines: #235565;
  --color-notifications: #F96429;
  --color-menu-haightlight: #0F586F;
  --color-menu-labels: #EBFAFF;
  --color-hyperlinks: #177998;
  --color-grey: #B9B9B9;
  --color-error: #FF0000;
  --color-warning: #FFC107;
  --color-success: #4CAF50;
  --box-shadow-primary: 0px 0px 10px 5px rgba(0,0,0,0.2);
  --border-radius: 10px;
  --gradient: linear-gradient(to bottom, #2CABD3, #177998, #084153);
}
