.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-menu);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999;

  svg-icon {
    width: 100px;
  }

  svg {
    fill: var(--color-primary-white);
  }
}
