:host {
  display: inline-flex;
}

.btn-icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-primary);
  padding: 0;
  user-select: none;

  svg-icon {
    width: 50%;
  }

  svg {
    fill: var(--color-primary-white);
    height: auto;
  }

  &--delete {
    background-color: var(--color-primary-red);
  }

  &--shadow {
    box-shadow: var(--box-shadow-primary);
  }
}
